# Configuración del Servidor Web
SERVER_IP=0.0.0.0
SERVER_PORT=5000

# Configuración de la BD MariaDB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=raspberry
DB_PASSWORD=1234
DB_NAME=detector_caidas

# Modo debug (True en desarrollo, False en producción)
FLASK_DEBUG=True
